
@{
    Layout="~/Views/Shared/_Layout.cshtml";
}
@model PricingVm
@{
  var services = Model.Services;
  var pricings = Model.Pricings;
}
 <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="container">
        <nav class="breadcrumbs">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Pricing</li>
          </ol>
        </nav>
        <h1>Pricing</h1>
      </div>
    </div><!-- End Page Title -->

    <!-- Pricing Section -->
    <section id="pricing" class="pricing section">

      <div class="container" data-aos="zoom-in" data-aos-delay="100">

        <div class="row g-4">

          @foreach (var pricing in pricings)
          {
            <div class="col-lg-4">
              <div class="pricing-item @(pricing.IsFeatured ? "featured" : "")">
                <h3>@pricing.Name</h3>
                <div class="icon">
                  <i class="bi bi-box"></i>
                </div>
                <h4><sup>$</sup>@pricing.Price<span> / month</span></h4>
                <ul>
                  @foreach (var service in services)
                  {
                    <li class="@(pricing.PricingServices.Any(ps =>ps.ServiceId==service.Id)?"":"na")">@service.Name</li>
                  }
                </ul>
                <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
              </div>
            </div><!-- End Pricing Item -->
          }



        </div>

      </div>

    </section><!-- /Pricing Section -->